# Data Collection
<br>
Given the COVID-19 crisis, we will try to understand the health care capacity for India.
<br><br>
<i>The fight against COVID-19 is all about flattening the curve.</i>
<br>
<img src='https://thespinoff.co.nz/wp-content/uploads/2020/03/Covid-19-curves-graphic-social-v3.gif' alt='Flatten the curve' width=600 align='left'>

* **What data do we need to better understand the healthcare capacity of India?**
    - Discuss
    
<!--     1. [ ] Number of hospitals
    2. [ ] Number of beds in all hospitals
    3. [ ] Number of doctors, nurses & other medical staffs
    4. [ ] Number of cases in each state or district
    5. [ ] Number of ventilators, oxygen cylinders & other essential equipment available in each hospital
    6. [ ] Population density & demographic information
    7. [ ] Location of hospital & medicine stores
    8. [ ] Anything else you can think of -->

Now that we understand what data we need to estimate the health care capacity for India. The logical next step is to find relevant data sources.
Unfortunately, this is not a straight forward process. There are multiple ways in which we can start searching for data sources, here are a few ways to start with:
1. Quick google search
2. Public [APIs](https://api.covid19india.org/)
3. Official websites, in this case [MoHFW](https://www.mohfw.gov.in/) and [ICMR](https://www.icmr.gov.in/)
4. Data groups working on similar space [datameet](http://datameet.org/)
5. Public feeds like twitter or facebook
6. [data.world](https://data.world/)

* **Before we start, how much time do you think a Data Scientist spends in munging the data?**
    1. [ ] ~30%
    2. [ ] ~50%
    3. [ ] ~70%
    4. [ ] ~90%

## Pull Data from an API

Let us now pull the hospital beds data for **India**.     
[COVID 19 API List for India](https://api.rootnet.in/)

In [1]:
# Import libraries
import requests
import numpy as np
import pandas as pd
from pathlib import Path

# Set data path
DATA = Path('data')
!ls {DATA}

ari_2018.csv	  medical_college_list.csv  nurses.csv		 population.csv
doctors.csv	  mohfw.csv		    pneumonia_2018.csv
govt_doctors.csv  nhrr			    pop_by_age_2017.csv

### Get data from the API

In [2]:
BED_URL = 'https://api.rootnet.in/covid19-in/hospitals/beds'

r = requests.get(BED_URL)
print(f'Status {r.status_code}')

Status 200

### Load it into a `pandas DataFrame`

In [3]:
api = r.json()

beds = pd.DataFrame(api['data']['regional'])
beds.head()

,state,ruralHospitals,ruralBeds,urbanHospitals,urbanBeds,totalHospitals,totalBeds,asOn
0,Andhra Pradesh,193,6480,65,16658,258,23138,2017-01-01T00:00:00.000Z
1,Arunachal Pradesh,208,2136,10,268,218,2404,2017-12-31T00:00:00.000Z
2,Assam,1176,10944,50,6198,1226,17142,2017-12-31T00:00:00.000Z
3,Bihar,930,6083,103,5936,1033,12019,2016-12-31T00:00:00.000Z
4,Chhattisgarh,169,5070,45,4342,214,9412,2016-01-01T00:00:00.000Z

### State wise bed count

In [4]:
(beds[:-1][['state', 'totalBeds']]
     .style
     .hide_index()
     .background_gradient(subset='totalBeds', cmap='YlGn'))

### Exercise 1

1. Find top 5 states with maximum number of hospital beds?
2. Find top 10 states with least number of rural beds?  
***
* Hint: Remember there is a total row in the dataframe

In [5]:
# 1
beds[:-1].sort_values(by='totalBeds', ascending=False).head(5)

,state,ruralHospitals,ruralBeds,urbanHospitals,urbanBeds,totalHospitals,totalBeds,asOn
28,West Bengal,1272,19684,294,58882,1566,78566,2015-01-01T00:00:00.000Z
23,Tamil Nadu,692,40179,525,37353,1217,77532,2017-12-31T00:00:00.000Z
26,Uttar Pradesh,4442,39104,193,37156,4635,76260,2017-12-31T00:00:00.000Z
11,Karnataka,2471,21072,374,49093,2845,70165,2017-12-31T00:00:00.000Z
14,Maharashtra,273,12398,438,39048,711,51446,2015-12-31T00:00:00.000Z

In [6]:
# 2
beds[:-1].sort_values(by='ruralBeds', ascending=True).head(10)

,state,ruralHospitals,ruralBeds,urbanHospitals,urbanBeds,totalHospitals,totalBeds,asOn
33,Delhi,0,0,109,24383,109,24383,2015-01-01T00:00:00.000Z
30,Chandigarh,0,0,4,778,4,778,2016-12-31T00:00:00.000Z
35,Puducherry,3,96,11,3473,14,3569,2016-01-01T00:00:00.000Z
32,Daman & Diu,5,240,0,0,5,240,2015-12-31T00:00:00.000Z
22,Sikkim,24,260,9,1300,33,1560,2017-12-31T00:00:00.000Z
31,Dadra & Nagar Haveli,10,273,1,316,11,589,2017-12-31T00:00:00.000Z
34,Lakshadweep,9,300,0,0,9,300,2016-01-01T00:00:00.000Z
29,Andaman & Nicobar Islands,27,575,3,500,30,1075,2016-12-31T00:00:00.000Z
17,Mizoram,56,604,34,1393,90,1997,2017-12-31T00:00:00.000Z
18,Nagaland,21,630,15,1250,36,1880,2015-12-31T00:00:00.000Z

### Exercise 2

1. Get data for hospital stats at a more granular level. Use the [Medical College API](https://api.rootnet.in/covid19-in/hospitals/medical-colleges)
2. Check the status code
3. Load the `medicalColleges` data into pandas DataFrame. (Hint: Check the structure of the response before loading it into the DataFrame)
4. Find top 5 states with minimum & maximum number of `hospitalBeds`
5. Did you notice any difference in number of hospital beds? Can you reason why?

In [7]:
# 1
COLLEGE_URL = 'https://api.rootnet.in/covid19-in/hospitals/medical-colleges'

# YOUR CODE GOES HERE
r = requests.get(COLLEGE_URL)

In [8]:
# 2
print(f'Status {r.status_code}')

Status 200

In [9]:
# 3
college = pd.DataFrame(r.json()['data']['medicalColleges'])
college.head()

,state,name,city,ownership,admissionCapacity,hospitalBeds
0,A & N Islands,Andaman & Nicobar Islands Insitute of Medical ...,Port Blair,Govt.,100,460
1,Andhra Pradesh,ACSR Government Medical College Nellore,Nellore,Govt.,150,750
2,Andhra Pradesh,Alluri Sitaram Raju Academy of Medical Science...,Eluru,Trust,150,1070
3,Andhra Pradesh,"Andhra Medical College, Visakhapatnam",Visakhapatnam,Govt.,200,2017
4,Andhra Pradesh,Apollo Institute of Medical Sciences and Resea...,Chittoor,Society,150,0

In [10]:
# 4
(college
    .groupby('state')['hospitalBeds']
    .sum()
    .sort_values()
    .head())

state
Meghalaya          0
Manipur            0
Chandigarh         0
Maharastra         0
A & N Islands    460
Name: hospitalBeds, dtype: int64

In [11]:
# 4
(college
    .groupby('state')['hospitalBeds']
    .sum()
    .sort_values(ascending=False)
    .head())

state
Karnataka        42656
Tamil Nadu       38741
Gujarat          32750
Uttar Pradesh    25215
Kerala           22307
Name: hospitalBeds, dtype: int64

In [17]:
# 5
college[college.state == 'Maharastra'].head()

,state,name,city,ownership,admissionCapacity,hospitalBeds
159,Maharastra,"ACPM Medical College, Dhule",Dhule,Trust,0,0
160,Maharastra,"Armed Forces Medical College, Pune",Pune,Govt.,140,0
161,Maharastra,"Ashwini Rural Medical College, Hospital & Rese...",Solapur,Trust,100,0
162,Maharastra,"B. J. Govt. Medical College, Pune",Pune,Govt.,200,0
163,Maharastra,"B.K.L Walawalkar Rural Medical College, Ratnagiri",Ratnagiri,Trust,100,0

Great, now that we have **# of beds available** in each state, let us extract the **# of corona cases** per state. This will help us to better understand the shortage of beds in the coming future.

## Scrape Data from the WEB

We will be scraping the data from Ministry of Health & Family Welfare website.

[MoHFW](https://www.mohfw.gov.in/)

> BeautifulSoup - [Documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)

> Further reading
- https://do.co/2XzV5uT
- https://bit.ly/2A2axqo

### Get the *source* of the MoHFW webpage

In [12]:
MOHFW_URL = 'https://www.mohfw.gov.in/'

r = requests.get(MOHFW_URL)
print(f'Status: {r.status_code}')

Status: 200

### Extract the *table* from the *source*

In [13]:
# Import BeautifulSoup
import bs4
from bs4 import BeautifulSoup as BS

page = BS(r.content, 'html.parser')
table = page.table

### Look at the underlying structure of the *table*

In [14]:
print(table.tbody.tr.prettify())

<tr>
 <td>
  1
 </td>
 <td>
  Andaman and Nicobar Islands
 </td>
 <td>
  0
 </td>
 <td>
  33
 </td>
 <td>
  0
 </td>
 <td>
  33
 </td>
</tr>

### Extract *data* from the *table*

In [15]:
from typing import List

def extract_from_table(table: bs4.element.Tag) -> List:
    '''Extracts data from HTML table.
    
    Input:  bs4 *table*
    Return: List of all the values in the table
    '''
    data = list()
    
    for row in table.select('tbody tr'):
        data.append([col.text for col in row.find_all('td')])
        
    return data

data_table = extract_from_table(table)
data_table

[['1', 'Andaman and Nicobar Islands', '0', '33', '0', '33'],
 ['2', 'Andhra Pradesh', '1951', '2682', '75', '4708'],
 ['3', 'Arunachal Pradesh', '50', '1', '0', '51'],
 ['4', 'Assam', '1946', '615', '4', '2565'],
 ['5', 'Bihar', '2578', '2480', '30', '5088'],
 ['6', 'Chandigarh', '36', '273', '5', '314'],
 ['7', 'Chhattisgarh', '786', '283', '4', '1073'],
 ['8', 'Dadar Nagar Haveli', '18', '2', '0', '20'],
 ['9', 'Delhi', '17125', '10999', '812', '28936'],
 ['10', 'Goa', '235', '65', '0', '300'],
 ['11', 'Gujarat', '5186', '13635', '1249', '20070'],
 ['12', 'Haryana', '2286', '2134', '28', '4448'],
 ['13', 'Himachal Pradesh', '184', '224', '5', '413'],
 ['14', 'Jammu and Kashmir', '2830', '1216', '41', '4087'],
 ['15', 'Jharkhand', '602', '490', '7', '1099'],
 ['16', 'Karnataka', '3259', '2132', '61', '5452'],
 ['17', 'Kerala', '1096', '803', '15', '1914'],
 ['18', 'Ladakh', '52', '50', '1', '103'],
 ['19', 'Madhya Pradesh', '2658', '6331', '412', '9401'],
 ['20', 'Maharashtra', '43601', '39314', '3060', '85975'],
 ['21', 'Manipur', '120', '52', '0', '172'],
 ['22', 'Meghalaya', '22', '13', '1', '36'],
 ['23', 'Mizoram', '33', '1', '0', '34'],
 ['24', 'Nagaland', '110', '8', '0', '118'],
 ['25', 'Odisha', '953', '1894', '9', '2856'],
 ['26', 'Puducherry', '63', '36', '0', '99'],
 ['27', 'Punjab', '451', '2106', '51', '2608'],
 ['28', 'Rajasthan', '2718', '7641', '240', '10599'],
 ['29', 'Sikkim', '7', '0', '0', '7'],
 ['30', 'Tamil Nadu', '14399', '16999', '269', '31667'],
 ['31', 'Telengana', '1803', '1710', '137', '3650'],
 ['32', 'Tripura', '608', '192', '0', '800'],
 ['33', 'Uttarakhand', '814', '528', '13', '1355'],
 ['34', 'Uttar Pradesh', '4076', '6185', '275', '10536'],
 ['35', 'West Bengal', '4488', '3303', '396', '8187'],
 ['', 'Cases being reassigned to states', '7837', '', '', '7837'],
 ['', 'Total#', '124981', '\n124430\n', '\n7200\n', '\n256611\n'],
 ['*(Including foreign Nationals)\n\n'],
 ['**( more than 70% cases due to comorbidities )\n'],
 ['#States wise distribution is subject to further verification and reconciliation\n'],
 ['#Our figures are being reconciled with ICMR']]

### Create a `pandas DataFrame` from the *data_table* & fix the `dtypes`

In [16]:
columns = ['sno', 'state', 'active', 'cured', 'dead', 'total']
stats = pd.DataFrame(data_table[:-6], columns=columns)
stats.dtypes

sno       object
state     object
active    object
cured     object
dead      object
total     object
dtype: object

In [17]:
stats[['active', 'cured', 'dead', 'total']] = stats[['active', 'cured', 'dead', 'total']].astype(int)

### State wise deaths & cured cases

In [18]:
(stats[['state', 'cured', 'dead']]
     .style
     .hide_index()
     .background_gradient(cmap='YlGn'))

### Exercise 3

1. Find the top 5 states where the death rate is high 
2. Find the top 5 states where the cure rate is high
3. Take a deep breath & try to understand the data!

(Extra marks for visualizing the column)

In [19]:
# 1

stats['dead_rate'] = (stats['dead'] / stats['total'] * 100)
(stats
    .sort_values(by='dead_rate', ascending=False)   
    .head(5)
    .style
    .hide_index()
    .background_gradient(cmap='OrRd', subset='dead_rate')
)

In [20]:
# 2

stats['cured_rate'] = (stats['cured'] / stats['total'] * 100)
(stats
    .sort_values(by='cured_rate', ascending=False)   
    .head(5)
    .style
    .hide_index()
    .background_gradient(cmap='YlGn', subset='cured_rate')
)

### Exercise 4

Scrape the top section of [MoHFW](https://www.mohfw.gov.in/) page, containing total number of active cases, cured, deaths & migrated.

* **What is unique about the section we are going to scrape in this page?**
    1. [ ] `div` tag
    2. [ ] `class=col-xs-12`
    3. [ ] `class=site-stats-count`
    4. [ ] `ul` tag

In [21]:
# YOUR CODE GOES HERE

section = page.select('div.site-stats-count')[0]
section

<div class="site-stats-count">
<ul>
<li class="bg-blue">
<img alt="Active Status" src="assets/images/icon-infected.png"/>
<strong>124981</strong>
<span>Active Cases</span>
</li>
<li class="bg-green">
<img alt="Inactive Status" src="assets/images/icon-inactive.png"/>
<strong>124429</strong>
<span class="mob-hide">Cured / Discharged </span>
<span class="mob-show">Cured/ </span>
<span class="mob-show">Discharged </span>
</li>
<li class="bg-red">
<img alt="Death Status" src="assets/images/icon-death.png"/>
<strong>7200</strong>
<span>Deaths  </span>
</li>
<li class="bg-orange">
<img alt="Inactive Status" src="assets/images/icon-active.png"/>
<strong>1</strong>
<span>Migrated</span>
</li>
<li class="icon-dashboard">
<a class="trigger-advisories" href="#site-advisories"><img alt="Advisories" src="assets/images/icon-advisories.png"/></a>
<a class="trigger-state" href="#state-data"><img alt="State Data" src="assets/images/icon-state.png"/></a>
<!--<a class="trigger-graph" href="http://www.mohfw.gov.in/index.php" target="_blank"><img src="assets/images/graph.png" alt="Graphics"></a>-->
</li>
</ul>
<div class="status-update">
<h2>COVID-19 INDIA <span>as on : 08 June 2020, 08:00 IST (Revised) (GMT+5:30)</span></h2>
</div>
</div>

In [22]:
counts = []

for item in section.find_all('li')[:4]:
    counts.append((item.strong.text, item.span.text))
    
counts

[('124981', 'Active Cases'),
 ('124429', 'Cured / Discharged '),
 ('7200', 'Deaths  '),
 ('1', 'Migrated')]

Ahh cool! We now have state level cases data & the # of beds available with us. But can we do better?  
Can we get data at District level instead? Let's try!

## Parse Data from PDF

We will be parsing the data from [National Health Profile (NHP)](https://www.cbhidghs.nic.in/index7.php?lang=1&level=0&linkid=1086&lid=1107&color=1) reports published by Central Bureau of Health Intelligence (CBHI) every year.

You can download the PDF from here: [NHP 2019](https://github.com/srmsoumya/dsct/raw/master/data/dw/nhrr/NHRR2019.pdf) & save it in `data` directory

We will be using Camelot to parse PDF.  
[Camelot](https://camelot-py.readthedocs.io/en/master/)

### Extract *medical college data* from NHP 2019 report

> Page [270-282]

In [23]:
import camelot

NHRR = DATA/'nhrr'/'NHRR2019.pdf'

In [24]:
med_clgs = camelot.read_pdf(str(NHRR), pages='270-282', flavor='lattice')

In [25]:
med_clgs[0].parsing_report

{'accuracy': 100.0, 'whitespace': 14.29, 'order': 1, 'page': 270}

In [27]:
med_clgs[0].df

,0,1,2,3,4,5,6
0,S. \nNo.,State/UT,Name of Medical College,City/Town,Govt/ \nPrivate,Admission \nCapacity,No. of \nbeds in \nAttached \nHospital
1,1,Andaman & \nNicobar Islands,Andaman & Nicobar Islands Insitute of Medical ...,Port Blair,Govt.,100,460
2,2,Andhra Pradesh,ACSR Government Medical College Nellore,Nellore,Govt.,150,750
3,3,,"All India Institute of Medical Sciences, Manga...",Vijaywada,Govt.,50,NA
4,4,,Alluri Sitaram Raju Academy of Medical Science...,Eluru,Trust,150,1070
5,5,,"Andhra Medical College, Visakhapatnam",Visakhapatnam,Govt.,200,2017
6,6,,Apollo Institute of Medical Sciences and Resea...,Chittoor,Society,150,NA
7,7,,"Dr. P.S.I. Medical College , Chinoutpalli",Chinoutpalli,Trust,150,398
8,8,,"Fathima Instt. of Medical Sciences,Kadapa",Kadapa,Trust,100,450
9,9,,Gayathri Vidya Parishad Institute of Health Ca...,Visakhapatnam,Society,150,NA
10,10,,GITAM Institute of Medical Sciences and Resear...,Visakhapatanam,University,0,NA
11,11,,"Government Medical College, Anantapuram",Anantapurram,Govt.,100,500
12,12,,"Government Siddhartha Medical College, Vijaywada",Vijaywada,Govt.,150,412
13,13,,"Great Eastern Medical School and Hospital,Srik...",Srikakulam,Trust,100,350
14,14,,"GSL Medical College, Rajahmundry",Rajahmundry,Trust,150,1000
15,15,,"Guntur Medical College, Guntur",Guntur,Govt.,200,1277
16,16,,"Katuri Medical College, Guntur",Guntur,Trust,150,900
17,17,,Konaseema Institute of Medical Sciences & Rese...,Amalapuram,Trust,150,879
18,18,,"Kurnool Medical College, Kurnool",Kurnool,Govt.,200,1050
19,19,,"Maharajah Institute of Medical Sciences, Vizia...",Vizianagaram,Trust,150,1050
20,20,,"Narayana Medical College, Nellore",Nellore,Trust,250,1550
21,21,,"Nimra Institute of Medical Sciences, Krishna D...",Krishna Dist.,Society,150,NA
22,22,,"NRI Institute of Medical Sciences, Visakhapatnam",Visakhapatnam,Trust,150,360
23,23,,"NRI Medical College, Guntur",Guntur,Trust,200,1000
24,24,,P E S Institute Of Medical Sciences and Resear...,Kuppam,Trust,150,750
25,25,,"Rajiv Gandhi Institute of Medical Sciences, Ka...",Kadapa,Govt.,150,750
26,26,,"Rajiv Gandhi Institute of Medical Sciences, Sr...",Srikakulam,Govt.,100,300
27,27,,"Rajiv Gandhi Institute of Medical Sciences,Ong...",Ongole,Govt.,100,300
28,28,,"Rangaraya Medical College, Kakinada",Kakinada,Govt.,200,1085
29,29,,"S V Medical College, Tirupati",Tirupati,Govt.,200,862
30,30,,"Santhiram Medical College, Nandyal",Nandyal,Trust,100,700
31,31,,"SVIM-Sri Padmavathi Medical College for Women,...",Tirupati,Govt.,150,650
32,32,,"Viswabharathi Medical College, Kurnool",Kurnool,Society,0,NA
33,,,Andhra Pradesh Total,,,4350,20410
34,33,Arunachal \nPradesh,Toma Riba Institute of health & Medical Scienc...,Naharlagun,Govt.,50,NA
35,34,Assam,"Assam Medical College, Dibrugarh",Dibrugarh,Govt.,170,1365
36,35,,"Fakhruddin Ali Ahmed Medical College, Barpeta,...","Barpeta,",Govt-Society,100,500
37,36,,"Gauhati Medical College, Guwahati",Guwahati,Govt.,156,1982
38,37,,"Jorhat Medical College & Hospital , Jorhat",Jorhat,Govt.,100,400
39,38,,"Silchar Medical College, Silchar",Silchar,Govt.,100,906
40,39,,"Tezpur Medical College & Hospital, Tezpur",Tezpur,Govt.,100,500
41,,,Assam Total,,,726,5653
42,40,Bihar,All India Institute of Medical Sciences Patna...,Patna,Govt,100,NA
43,41,,"Anugrah Narayan Magadh Medical College, Gaya",Gaya,Govt.,100,544
44,42,,"Darbhanga Medical College, Lehriasarai",Lehriasarai,Govt.,100,1030
45,43,,"Government Medical College, Bettiah",Bettiah,Govt.,100,315
46,44,,"Indira Gandhi Institute of Medical Sciences,Sh...",Patna,Govt.,100,500

### Clean the table

In [28]:
def extract_table(df: pd.DataFrame) -> pd.DataFrame:
    '''Cleans the Dataframe'''
    df = df.copy()                                           # Work on a copy
    df.columns = df.iloc[0]                                  # Set Row 1 as the Column
    df.drop(df.index[0], inplace=True)               # Delete Row 1
    df.columns = [c.replace(' \n', '') for c in df.columns]  # Format column names
    df = df[df['S.No.'] != '']                               # Remove the total Rows
    df.set_index(keys='S.No.', inplace=True)                 # Set S.No as the index
    
    return df

med_clgs_df = pd.concat([extract_table(med_clgs[i].df) for i in range(13)])

In [29]:
# Fill the missing names in `State/UT` column, format the names
med_clgs_df['State/UT'] = med_clgs_df['State/UT'].replace(r'^\s*$', np.nan, regex=True)\
                                                 .ffill()\
                                                 .str.replace('\n', '')

In [30]:
med_clgs_df.head()

,State/UT,Name of Medical College,City/Town,Govt/Private,AdmissionCapacity,No. of beds in AttachedHospital
S.No.,,,,,,
1,Andaman & Nicobar Islands,Andaman & Nicobar Islands Insitute of Medical ...,Port Blair,Govt.,100,460
2,Andhra Pradesh,ACSR Government Medical College Nellore,Nellore,Govt.,150,750
3,Andhra Pradesh,"All India Institute of Medical Sciences, Manga...",Vijaywada,Govt.,50,NA
4,Andhra Pradesh,Alluri Sitaram Raju Academy of Medical Science...,Eluru,Trust,150,1070
5,Andhra Pradesh,"Andhra Medical College, Visakhapatnam",Visakhapatnam,Govt.,200,2017

### Save the data to a CSV file

In [31]:
med_clgs_df.to_csv(DATA/'medical_college_list.csv', index=False)

### *Exercise 5

Extract **Pneumonia** data from NHP 2019 report
> Page: [139]

In [32]:
pneumonia = camelot.read_pdf(str(NHRR), pages='139', flavor='lattice')

In [33]:
pneumonia[0].df

,0,1,2,3,4,5,6,7
0,S. \nNo.,State/UT.,Male,,Female,,Total,
1,,,Cases,Deaths,Cases,Deaths,Cases,Deaths
2,1,Andhra Pradesh,20203,224,17546,141,37749,365
3,2,Arunachal Pradesh,403,0,304,0,707,0
4,3,Assam,10117,92,6458,43,16575,135
5,4,Bihar,11653,16,8429,9,20082,25
6,5,Chhattisgarh,3506,26,2978,21,6484,47
7,6,Goa,1511,50,1287,24,2798,74
8,7,Gujarat,2847,2,2312,1,5159,3
9,8,Haryana,7843,23,6200,11,14043,34
10,9,Himachal Pradesh,6535,62,6250,45,12785,107
11,10,Jammu Div.,4432,3,4046,6,8478,9
12,,Kashmir Div.,2530,0,2310,0,4840,0
13,11,Jharkhand,1540,2,1219,2,2759,4
14,12,Karnataka,11539,88,9372,54,20911,142
15,13,Kerala,3323,24,3084,20,6407,44
16,14,Madhya Pradesh,31077,64,22902,40,53979,104
17,15,Maharashtra,5513,15,4829,12,10342,27
18,16,Manipur,608,0,478,0,1086,0
19,17,Meghalaya,1914,23,1874,16,3788,39
20,18,Mizoram,1392,23,1182,9,2574,32
21,19,Nagaland,763,0,685,1,1448,1
22,20,Odisha,10251,171,7683,108,17934,279
23,21,Punjab,4988,15,4104,7,9092,22
24,22,Rajasthan,88007,59,63367,39,151374,98
25,23,Sikkim,160,0,127,0,287,0
26,24,Tamil Nadu,6321,489,5541,268,11862,757
27,25,Telangana,3343,2,3222,0,6565,2
28,26,Tripura,721,10,596,7,1317,17
29,27,Uttarakhand,6406,0,5959,0,12365,0
30,28,Uttar Pradesh,89799,71,68457,55,158256,126
31,29,West Bengal,139080,405,127465,255,266545,660
32,30,A & N Islands,81,21,60,2,141,23
33,31,Chandigarh,12704,132,9792,83,22496,215
34,32,D & N Haveli,73,10,65,13,138,23
35,33,Daman & Diu,54,1,37,1,91,2
36,34,Delhi,19794,424,16065,299,35859,723
37,35,Lakshadweep*,24,0,32,0,56,0
38,36,Puducherry,631,47,482,27,1113,74
39,,India,511686,2594,416799,1619,928485,4213

In [34]:
def extract_pneumonia_table(df: pd.DataFrame) -> pd.DataFrame:
    '''Cleans the Pneumonia Dataframe'''
    df = df.copy()                                           # Work on a copy
    df.columns = df.iloc[0]                                  # Set Row 1 as the Column
    df.drop(df.index[[0,1]], inplace=True)                   # Delete Row 1
    df.columns = [c.replace(' \n', '') for c in df.columns]  # Format column names
    df = df[df['S.No.'] != '']                               # Remove the total Rows
    df.set_index(keys='S.No.', inplace=True)                 # Set S.No as the index
    
    return df

pneumonia_df = extract_pneumonia_table(pneumonia[0].df)

In [35]:
pneumonia_df.head()

               State/UT.   Male      Female       Total
S.No.
1         Andhra Pradesh  20203  224  17546  141  37749  365
2      Arunachal Pradesh    403    0    304    0    707    0
3                  Assam  10117   92   6458   43  16575  135
4                  Bihar  11653   16   8429    9  20082   25
5           Chhattisgarh   3506   26   2978   21   6484   47

In [36]:
pneumonia_df.columns = ['State/UT.', 'Male-Cases', 'Male-Deaths', 'Female-Cases', 'Female-Deaths', 'Total-Cases', 'Total-Deaths']

In [37]:
pneumonia_df.head()

,State/UT.,Male-Cases,Male-Deaths,Female-Cases,Female-Deaths,Total-Cases,Total-Deaths
S.No.,,,,,,,
1,Andhra Pradesh,20203,224,17546,141,37749,365
2,Arunachal Pradesh,403,0,304,0,707,0
3,Assam,10117,92,6458,43,16575,135
4,Bihar,11653,16,8429,9,20082,25
5,Chhattisgarh,3506,26,2978,21,6484,47

In [38]:
pneumonia_df.to_csv(DATA/'pneumonia_2018.csv', index=False)

In [ ]:
# Test the time it takes to run this notebook, keep it between 45 - 60 min
# * the Optional Questions
# Why are we doing this? How do we find proper data source?
# Think about MCQs